<%= simple_form_for @idea do |f| %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :ideatype_id, collection: @ideatype_options,:label => "Idea Type", include_blank: false, :label_method => :name, :value_method => :id  %>
	<h3>Features</h3>
	<div class="features">
		<%= f.simple_fields_for :features do |feature| %>
			<%= render "feature_fields", :f => feature %>
		<% end %>
	</div>
	<div class="links">
		<%= link_to_add_association 'add feature', f, :features %>
	</div>
	<br />
	<%= f.button :submit, :value => "Create Idea", :class => 'btn-primary'%>
<% end %>