<div class="row">
	<div class="col-md-6">
		<h2>Edit Idea</h2>
		<%= simple_form_for(@idea) do |idea| %>
			<%= idea.input :name %>
			<%= idea.input :description %>
			<%= idea.input :ideatype_id, collection: @ideatype_options,:label => "Idea Type",include_blank: false, selected: @idea.ideatype_id  %>
			<%= idea.button :submit, :class => 'btn-primary' %>
		<% end %>
	</div>

	<div class="col-md-6">
		<h2>Current Features</h2>
		<table class="table table-hover">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
			<% @idea.features.each do |feature| %>
			<tr>
				<td><%= feature.name %></td>
				<td><%= feature.description %></td>
				<td><%= link_to "Edit", edit_idea_feature_path(@idea, feature) %></td>
				<td><%= link_to "Delete",([@idea, feature]), data: { :confirm => "Are you sure you would like to delete this feature?" }, :method => :delete %></td>
			</tr>
			<% end %>
		</table>

		<p><%= link_to "Add a Feature", new_idea_feature_path(@idea) %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Messages</h2>
			<table class"table table-hover">
				<tr>
					<th>Message</th>
				</tr>
				<% @idea.idea_messages.each do |message| %>
				<tr>
					<td><%=message.message %></td>
				</tr>
				<% end %>
			</table>
		<p><%= link_to "Add a Message", new_idea_ideamessage_path(@idea) %></p>
	</div>
</div>

