<h1>Edit Idea</h1>

<%= form_for @idea do |idea| %>
	<% if @idea.errors.any? %>
		<ul>
		<% @idea.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>
	<p>
		<%= idea.label :name %><br />
		<%= idea.text_field :name %>
	</p>
	<p>
		<%= idea.label :description %><br />
		<%= idea.text_area :description %>
	</p>
	<p>
		<%= idea.label :ideatype %><br />
		<%= idea.select :ideatype_id, @ideatype_options %>
	</p><br />
	<p>
		<%= idea.submit "Update Idea" %>
	</p>
<% end %>

<br />

<h2>Current Features</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @idea.features.each do |feature| %>
	<tr>
		<td><%= feature.name %></td>
		<td><%= feature.description %></td>
		<td>"show"</td>
		<td><%= link_to "Edit", edit_idea_feature_path(@idea, feature) %></td>
		<td>"delete"</td>
	</tr>
	<% end %>
</table>

<p><%= link_to "Add a Feature", new_idea_feature_path(@idea) %></p>