<h1>Edit Idea</h1>

<%= form_for @idea do |idea| %>
	<% if @idea.errors.any? %>
		<ul>
			<% @idea.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<p>
		<%= idea.label :name %><br />
		<%= idea.text_field :name %>
	</p>
	<p>
		<%= idea.label :description %><br />
		<%= idea.text_area :description %>
	</p>
	<p>
		<%= idea.label :ideatype %><br />
		<%= idea.text_field :ideatype %>
	</p>
	<p>
		<%= idea.submit "Update Reminder" %>
	</p>
<% end %>