<h1>Edit Idea</h1>

<%= simple_form_for @idea do |idea| %>
	<%= idea.input :name %>
	<%= idea.input :description %>
	<%= idea.select :ideatype_id, @ideatype_options %>
	<%= idea.button :submit %>
<% end %>

<br />

<h2>Current Features</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
	</tr>
	<% @idea.features.each do |feature| %>
	<tr>
		<td><%= feature.name %></td>
		<td><%= feature.description %></td>
		<td><%= link_to "Edit", edit_idea_feature_path(@idea, feature) %></td>
		<td><%= link_to "Delete",([@idea, feature]), data: { :confirm => "Are you sure you would like to delete this feature?" }, :method => :delete %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "Add a Feature", new_idea_feature_path(@idea) %></p>

