<h1>Create Idea</h1>

<div class="row">
	<div class="col-md-6">
		<%= simple_form_for (@idea) do |idea| %>
			<%= idea.input :name %>
			<%= idea.input :description %>
			<%= idea.input :ideatype_id, collection: @ideatype_options,:label => "Idea Type", include_blank: false, :label_method => :name, :value_method => :id  %>
			<br />
			<%= idea.button :submit, :class => 'btn-primary'%>
		<% end %>
	</div>
</div>
