
<div class="row">
	<div class="col-md-6">
		<h1>Show Idea</h1>
		<h3>Name: </h3><p><%= @idea.name %></p>
		<h3>Description: </h3><p><%= @idea.description %></p>
		<h3>Type </h3><p><%= @idea.ideatype.name if @idea.ideatype%></p>
	</div>
	<div class="col-md-6">	
		<h2>Features</h2>
		<table "table table-hover">
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			<% @idea.features.each do |feature| %>
			<tr>
				<td><%= feature.name %></td>
				<td><%= feature.description %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>