<div class="domains-container">
	<table class="table table-striped">
		<tr>
			<th>Category</th>
			<th>No of Subfeatures</th>
			<th>Actions</th>
		</tr>
		<% @subfeaturecategorieswithcount.each do |cat| %>
		<tr>
			<td>
				<a href="#" data-xeditable="true" data-pk="<%= cat[0] %>" data-model="subfeaturecategory" data-name="categoryname" data-url="<%= idea_subfeaturecategory_url(:idea_id => @idea.id, :id => cat[0]) %>" data-title="Updated Category Name">
					<%= cat[1] %>
				</a>
			</td>
			<td><%= cat[2] %></td>
			<td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, idea_subfeaturecategory_path(:idea_id => @idea.id, :id => cat[0]), :method => :delete, data: { confirm: 'Are you sure you want to delete this subfeature category (All subfeatures will be deleted as well)?' } %>
			</td>
		</tr>
		<% end %>
	</table>
</div>