<div class="messages-container">
	<table class="table table-striped">
		<tr>
			<th>User</th>
			<th>Status</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
		<% @users.each do |username, status, role, id| %>
		<tr>
			<td><%= username %></td>
			<td><%= status %></td>
			<td><%= role %></td>
			<td>
			<% unless role === "Super Admin" %>
				<div class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<% if status === "Joined" %>
	           				<li>Make Admin</li>
	           				<li>
	           				<%= link_to "Delete", idea_ideauser_path(:id => id), :method => :delete %>
	           				</li>
	           			<% else %>
	           				<li>
	           				<%= link_to "Delete Invitation", idea_inviteduser_path(:id => id), :method => :delete %>
	           				</li>
	           			<% end %>
	           		</ul>
	           	</div>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
</div>