<% @subfeatures.each do |s| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<%= s.name %>
        <div class="dropdown pull-right">
        	<span class="<%= span_classname(s.status) %>"><%= s.status %></span>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>

            <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Change Status</li>
            	<% @subfeaturestatuses.each do |status| %>
            		<li><%= link_to "#{status}", idea_feature_subfeature_path(:feature_id => s.feature_id, :id => s.id, :status => status), :method => :put %></li>
            	<% end %>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Other Options</li>
                <li><%= link_to "Delete", idea_feature_subfeature_path(:feature_id => s.feature_id, :id => s.id) , :method => :delete %></li>
            </ul>
        </div>
	  </div>
	  <div class="panel-body">
	    <%= s.description %>
	  </div>
	</div>
<% end %>