<div class="row">
	<%= render :partial => '/ideas/navigation' %>
	<div class="col-md-10">
		<h2>Features</h2>
		<%= render :partial => 'featurenav' %>
		<%= render :partial => 'editfeature' %>
	</div>
</div>
<br />
<div class="row">
	<div class ="col-md-2">
	</div>
	<div class ="col-md-2">
		<%= render :partial => "/subfeatures/subfeaturecategories" %>
		<a href="javascript:toggle();" id="linkText" >Add a Subfeature</a>
	</div>
	<div class="col-md-8">
		<div id="toggleList" style="display:block;">
			<%= render :partial => '/subfeatures/subfeaturelist' %>
		</div>
		<div id="toggleCreate" style="display:none;">
			<%= render :partial => '/subfeatures/newsubfeature' %>
		</div>
	</div>
</div>